body{
    font-family: 'Dokdo';font-size: 50px;
}

.SideMenu{
	position: fixed;
	top:-10px;
	left:0;
	bottom:-10px;
	width:250px;
	background: yellow;
	box-shadow: 0px 0px 10px;
}

.Contenu{
	margin-left: 300px;
}